services:
  transmission:
    image: lscr.io/linuxserver/transmission@sha256:2d8d07715382a58f83fdcd1751e08c736711d76eecf71135106312fd370af933
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
    volumes:
      - "/mnt/cephfs/transmission:/config"
      - "downloads:/downloads"
    deploy:
      labels:
        - homepage.group=Media
        - homepage.name=Transmission
        - homepage.icon=transmission
        - homepage.href=https://transmission.danhughes.dev

  prowlarr:
    image: lscr.io/linuxserver/prowlarr@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
    volumes:
      - "/mnt/cephfs/prowlarr-config:/config"
    deploy:
      labels:
        - homepage.group=Media
        - homepage.name=Prowlarr
        - homepage.icon=prowlarr
        - homepage.href=https://prowlarr.danhughes.dev
    healthcheck:
      test: curl -f http://localhost:9696/ping || exit 1

  radarr:
    image: lscr.io/linuxserver/radarr@sha256:6c0948b42c149e36bb3dbc0b64d36c77b2d3c9dccf1b424c4f72af1e57ba0c21
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
    volumes:
      - "/mnt/cephfs/radarr-config:/config"
      - "downloads_complete:/downloads/complete"
      - "media_movies:/movies"
    deploy:
      labels:
        - homepage.group=Media
        - homepage.name=Radarr
        - homepage.icon=radarr
        - homepage.href=https://radarr.danhughes.dev
    healthcheck:
      test: curl -f http://localhost:7878/ping || exit 1

  sonarr:
    image: lscr.io/linuxserver/sonarr@sha256:60e5edcac39172294ad22d55d1b08c2c0a9fe658cad2f2c4d742ae017d7874de
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
    volumes:
      - "/mnt/cephfs/sonarr-config:/config"
      - "downloads_complete:/downloads/complete"
      - "media_tv:/tv"
    deploy:
      labels:
        - homepage.group=Media
        - homepage.name=Sonarr
        - homepage.icon=sonarr
        - homepage.href=https://sonarr.danhughes.dev
    healthcheck:
      test: curl -f http://localhost:8989/ping || exit 1

  lidarr:
    image: lscr.io/linuxserver/lidarr@sha256:ede2bb17350cc97a0d3f24389aa91803f655eac29aa022c77a71f4a61cc621e4
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
    volumes:
      - "/mnt/cephfs/lidarr-config:/config"
      - "downloads_complete:/downloads/complete"
      - "media_music:/music"
    deploy:
      labels:
        - homepage.group=Media
        - homepage.name=Lidarr
        - homepage.icon=Lidarr
        - homepage.href=https://lidarr.danhughes.dev
    healthcheck:
      test: curl -f http://localhost:8686/ping || exit 1

  navidrome:
    image: deluan/navidrome@sha256:4edc8a1de3e042f30b78a478325839f4395177eb8201c27543dccc0eba674f23
    volumes:
      - "/mnt/cephfs/navidrome-data:/data"
      - "media_music:/music:ro"

volumes:
  downloads:
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.60,nfsvers=4"
      device: ":/mnt/SSD/downloads"
  downloads_complete:
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.60,nfsvers=4"
      device: ":/mnt/SSD/downloads/complete"

  media:
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.60,nfsvers=4"
      device: ":/mnt/HDD/media"
  media_movies:
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.60,nfsvers=4"
      device: ":/mnt/HDD/media/movies"
  media_tv:
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.60,nfsvers=4"
      device: ":/mnt/HDD/media/tv"
  media_music:
    driver_opts:
      type: "nfs"
      o: "addr=10.10.10.60,nfsvers=4"
      device: ":/mnt/HDD/media/music"

networks:
  default:
    external: true
    name: main
