- hosts: all
  become: true
  roles: ["common"]
  tags: ["common"]

# - hosts: cluster
#   become: true
#   roles: ["keepalived"]
#   tags: ["keepalived"]

- hosts: docker
  become: true
  roles: ["docker"]
  tags: ["docker"]

# - hosts: cluster
#   become: true
#   roles: ["swarm"]
#   tags: ["swarm"]

- hosts: all
  become: true
  roles: ["cockpit"]
  tags: ["cockpit"]
