---
services:
  pairdrop:
    image: lscr.io/linuxserver/pairdrop:1.11.2@sha256:cb06203233c551f6c77f342dd30e2b7d48faac32bc880ed9392aa7f2949d18ad
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
      - WS_FALLBACK=true #optional

networks:
  default:
    external: true
    name: main
