services:
  tasmoadmin:
    image: ghcr.io/tasmoadmin/tasmoadmin:4.3.2@sha256:621eb1f03acfbeb7c859048f5726c03aa338613969e96a2c66872f912e664cc2
    volumes:
      - "/mnt/cephfs/tasmoadmin-config:/data"
    deploy:
      labels:
        - homepage.group=Home
        - homepage.name=Tasmoadmin
        - homepage.icon=tasmoadmin
        - homepage.href=https://tasmoadmin.danhughes.dev

  mosquitto:
    image: eclipse-mosquitto:2.0.22@sha256:077fe4ff4c49df1e860c98335c77dda08360629e0e2a718147027e4db3eace9d
    ports:
      - 1883:1883
    volumes:
      - /mnt/cephfs/mosquitto:/mosquitto

  homeassistant:
    image: lscr.io/linuxserver/homeassistant:2025.12.3@sha256:4656fc0837428f101619274003a4f02723192d965d8560ead29cb89a02f780da
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
      - DOCKER_MODS=linuxserver/mods:homeassistant-hacs
    volumes:
      - /mnt/cephfs/homeassistant:/config
    depends_on:
      - mosquitto
    deploy:
      labels:
        - homepage.group=Home
        - homepage.name=Home Assistant
        - homepage.icon=home-assistant
        - homepage.href=https://home.danhughes.dev

networks:
  default:
    external: true
    name: main
