services:
  tasmoadmin:
    image: ghcr.io/tasmoadmin/tasmoadmin:4.3.2
    volumes:
      - "/mnt/cephfs/tasmoadmin-config:/data"
    deploy:
      labels:
        - homepage.group=Home
        - homepage.name=Tasmoadmin
        - homepage.icon=tasmoadmin
        - homepage.href=https://tasmoadmin.danhughes.dev

  mosquitto:
    image: eclipse-mosquitto:2.0.22
    ports:
      - 1883:1883
    volumes:
      - /mnt/cephfs/mosquitto:/mosquitto

  homeassistant:
    image: lscr.io/linuxserver/homeassistant:2025.12.3
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
      - DOCKER_MODS=linuxserver/mods:homeassistant-hacs
    volumes:
      - /mnt/cephfs/homeassistant:/config
    depends_on:
      - mosquitto
    deploy:
      labels:
        - homepage.group=Home
        - homepage.name=Home Assistant
        - homepage.icon=home-assistant
        - homepage.href=https://home.danhughes.dev

networks:
  default:
    external: true
    name: main
