services:
  tasmoadmin:
    image: ghcr.io/tasmoadmin/tasmoadmin:v4.3.4
    volumes:
      - "/mnt/cephfs/tasmoadmin-config:/data"
    deploy:
      labels:
        - homepage.group=Home
        - homepage.name=Tasmoadmin
        - homepage.icon=tasmoadmin
        - homepage.href=https://tasmoadmin.danhughes.dev

  mosquitto:
    image: eclipse-mosquitto:2.0.22
    ports:
      - 1883:1883
    volumes:
      - /mnt/cephfs/mosquitto:/mosquitto
    environment:
      - MQTT_PASSWORD=${MQTT_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "mosquitto_pub -h localhost -t health/check -m ping -u DVES_USER -P $$MQTT_PASSWORD"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  homeassistant:
    image: lscr.io/linuxserver/homeassistant:2026.2.3
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
      - DOCKER_MODS=linuxserver/mods:homeassistant-hacs
    volumes:
      - /mnt/cephfs/homeassistant:/config
    depends_on:
      - mosquitto
    deploy:
      labels:
        - homepage.group=Home
        - homepage.name=Home Assistant
        - homepage.icon=home-assistant
        - homepage.href=https://home.danhughes.dev

networks:
  default:
    external: true
    name: main
