services:
  nginx:
    image: jc21/nginx-proxy-manager@sha256:cd9eba29ca132cb006729f2cb2660126453f84818c2f7d75963ad7b61ef696bd
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - "/mnt/cephfs/nginx_config:/data"
      - "/mnt/cephfs/nginx_letsencrypt:/etc/letsencrypt"
    deploy:
      labels:
        - homepage.group=Core
        - homepage.name=NGINX Proxy Manager
        - homepage.icon=nginx
        - homepage.href=https://nginx.danhughes.dev

networks:
  default:
    driver: overlay
    attachable: true
    name: main
