services:
  homepage:
    image: ghcr.io/gethomepage/homepage@sha256:7dc099d5c6ec7fc945d858218565925b01ff8a60bcbfda990fc680a8b5cd0b6e
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - HOMEPAGE_ALLOWED_HOSTS=homepage.danhughes.dev
    volumes:
      - "/mnt/cephfs/homepage-config:/app/config"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    deploy:
      placement:
        constraints: [node.role == manager]

networks:
  default:
    external: true
    name: main
