services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.10.1
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - HOMEPAGE_ALLOWED_HOSTS=homepage.danhughes.dev
    volumes:
      - "/mnt/cephfs/homepage-config:/app/config"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    deploy:
      placement:
        constraints: [node.role == manager]

networks:
  default:
    external: true
    name: main
