- name: Initialize docker swarm
  when: inventory_hostname in groups['cluster_leader']
  command:
    cmd: docker swarm init --advertise-addr {{ ansible_host }}
    creates: "/var/lib/docker/swarm/state.json"

- name: Get join token for other nodes
  when: inventory_hostname in groups['cluster_leader']
  command: docker swarm join-token manager
  register: get_join_token
  changed_when: false

- name: Join docker swarm
  when: inventory_hostname in groups['cluster_follower']
  command:
    cmd: "{{ hostvars[groups['cluster_leader'][0]].get_join_token.stdout_lines[2] }}"
    creates: "/var/lib/docker/swarm/state.json"

- name: Create override directory for microceph
  file:
    path: /etc/systemd/system/snap.microceph.daemon.service.d
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Create systemd override for microceph.daemon to include network-online.target
  template:
    src: snap_microceph_daemon_override.j2.conf
    dest: /etc/systemd/system/snap.microceph.daemon.service.d/override.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Create /usr/lib/systemd/system/docker.service.d directory
  file:
    state: directory
    path: /usr/lib/systemd/system/docker.service.d
    owner: root
    group: root
    mode: 0755

- name: Create Docker after-mount settings
  copy:
    src: after-mount.conf
    dest: /usr/lib/systemd/system/docker.service.d/after-mount.conf
    owner: root
    group: root
    mode: 0644
