CF_API_TOKEN=your_cloudflare_api_token
RENOVATE_GIT_ACCESS_TOKEN=your_github_pat_here
MQTT_PASSWORD=your_mqtt_password_here
PGID=1000
PUID=1000
TRMNL_ACCESS_TOKEN=your_trmnl_access_token_here
TZ=Europe/London
