services:
  apprise:
    image: lscr.io/linuxserver/apprise-api:1.3.0@sha256:8b607429101cb393764025dd459346c0fa167c6cd55627ee051d16f8a48d5a93
    environment:
      - PUID=${PUID?error}
      - PGID=${PGID?error}
      - TZ=${TZ?error}
      - APPRISE_ATTACH_SIZE=10 # in Mb
    volumes:
      - "/mnt/cephfs/apprise-config:/config"
      - "/mnt/cephfs/apprise-attachments:/attachments"
    deploy:
      labels:
        - homepage.group=Core
        - homepage.name=Apprise
        - homepage.icon=apprise
        - homepage.href=https://apprise.danhughes.dev

networks:
  default:
    external: true
    name: main
