# TODO: Not yet put into ansible
# sudo lvextend -l +100%FREE /dev/mapper/ubuntu--vg-ubuntu--lv
# sudo resize2fs /dev/mapper/ubuntu--vg-ubuntu--lv

- name: Install SSHD
  apt:
    name:
      - openssh-server
    state: present

- name: Add SSH keys
  get_url:
    url: https://danhughes.dev/keys
    dest: /home/{{ ansible_user }}/.ssh/authorized_keys
    mode: 0644

- name: Add {{ ansible_user }} to the sudoers
  copy:
    dest: "/etc/sudoers.d/{{ ansible_user }}"
    content: "{{ ansible_user }} ALL=(ALL) NOPASSWD: ALL"
    mode: 0440

- name: Disable password-only SSH
  notify:
    - restart ssh
  copy:
    dest: /etc/ssh/sshd_config.d/password_authentication.conf
    content: |
      PasswordAuthentication no

- name: Disable root SSH
  notify:
    - restart ssh
  copy:
    dest: /etc/ssh/sshd_config.d/permit_root_login.conf
    content: |
      PermitRootLogin no

- name: Enable user lingering
  command: "loginctl enable-linger {{ ansible_user }}"
  args:
    creates: "/var/lib/systemd/linger/{{ ansible_user }}"

- name: Configure weekly reboot on Sunday at 2-3am
  cron:
    name: "regular_reboot"
    cron_file: "regular_reboot"
    weekday: "0"
    minute: "{{ 60 |random(seed=inventory_hostname) }}"
    hour: "2"
    user: root
    job: "/sbin/reboot >/dev/null 2>&1"

- name: Hush login
  copy:
    content: ""
    dest: "/home/{{ ansible_user }}/.hushlogin"
    force: false

- name: Update and upgrade apt packages
  become: true
  apt:
    cache_valid_time: 86400 # 1 day
    update_cache: yes
    upgrade: yes
    autoremove: yes
    clean: yes
