---
- name: Ensure required dependencies are installed
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lm-sensors
      - lsb-release
      - sysstat
    state: present

- name: Create keyrings directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

- name: Download Docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"

- name: Add Docker apt repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename | default(ansible_distribution_release) }} stable"
    state: present
    filename: docker
  register: docker_apt_repository

- name: Update apt cache if apt repository changed
  ansible.builtin.apt:
    update_cache: yes
  when: docker_apt_repository.changed

- name: Install Docker Engine and related packages
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present

- name: Ensure Docker service is enabled and running
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

- name: Install Docker prune service
  ansible.builtin.template:
    src: docker-prune.service.j2
    dest: /etc/systemd/system/docker-prune.service
    owner: root
    group: root
    mode: "0644"

- name: Install Docker prune timer
  ansible.builtin.template:
    src: docker-prune.timer.j2
    dest: /etc/systemd/system/docker-prune.timer
    owner: root
    group: root
    mode: "0644"

- name: Reload systemd to pick up new units
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and start the Docker prune timer
  ansible.builtin.systemd:
    name: docker-prune.timer
    enabled: true
    state: started

- name: Create Netdata directories
  file:
    path: "/opt/netdata/{{ item }}"
    state: directory
    owner: 201 # Hardcoded 'netdata' user ID
    group: 201 # Hardcoded 'netdata' group ID
    mode: "0755"
  loop:
    - config
    - lib
    - cache
